@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-opened span:first-child {
    @apply w-9 -rotate-45;
}
.menu-opened span:last-child {
    @apply w-9 rotate-45;
}
.menu-opened span:nth-child(2) {
    @apply w-0 opacity-0;
}

.navigation.show {
    @apply visible scale-y-100 opacity-100;
}

.hero-section {
    background: radial-gradient(
            19.83% 19.83% at 40.08% 50%,
            rgba(111, 104, 211, 0.173046) 0%,
            rgba(112, 105, 211, 0.171775) 0%,
            rgba(114, 107, 212, 0.169518) 0%,
            rgba(132, 126, 218, 0.147463) 0%,
            rgba(255, 255, 255, 0.0001) 100%
        ),
        radial-gradient(
            33.84% 29.13% at 55% 35.06%,
            rgba(104, 207, 211, 0.491316) 0%,
            rgba(255, 255, 255, 0.0001) 100%
        ),
        linear-gradient(360deg, #ffffff 4.1%, #f5fdff 100%);
}

.gradient-bg {
    background: linear-gradient(139.31deg, #e3f9ff -46.27%, rgba(244, 244, 255, 0.644293) 100%);
}

.review-section {
    background: linear-gradient(135deg, #e3f9ff 0%, #f4f4ff 100%);
}

.cta-section {
    background: linear-gradient(178.27deg, #2e236a 7.31%, #03216c 96.98%);
}

/* Slider */
.tns-outer {
    @apply relative;
}

.tns-controls button {
    @apply absolute top-1/2 z-10 -translate-y-1/2 transform;
}

.tns-controls button svg {
    @apply h-10 w-10;
}

.tns-controls button[data-controls="prev"] {
    @apply left-2 md:left-4;
}

.tns-controls button[data-controls="next"] {
    @apply right-2 md:right-4;
}

.tns-nav {
    @apply absolute -bottom-4 left-0 right-0 flex items-center justify-center gap-2;
}
.tns-nav button {
    @apply h-2 w-2 rounded-full bg-primary-dark/40;
}
.tns-nav button.tns-nav-active {
    @apply bg-primary-dark;
}

/* Accordion */
.accordion {
    @apply grid gap-4;
}
.accordion .accordion-item {
    @apply rounded-lg border border-slate-200 bg-slate-100 transition;
}
.accordion .accordion-item.active {
    @apply shadow-md shadow-slate-200;
}
.accordion .accordion-btn {
    @apply relative flex w-full items-center justify-between py-3 px-6 text-left text-xl font-semibold md:text-2xl;
}
.accordion .accordion-btn span {
    @apply relative block h-5 w-5 before:absolute before:top-1/2 before:h-[3px] before:w-full before:rotate-90 before:transform before:rounded before:bg-primary-dark before:transition before:content-[''] after:absolute after:top-1/2 after:h-[3px] after:w-full after:rounded after:bg-primary-dark after:content-[''];
}
.accordion .accordion-panel {
    @apply h-auto max-h-0 overflow-hidden p-0 opacity-0 transition md:text-lg;
}
.accordion .accordion-item.active .accordion-btn span::before {
    @apply rotate-0;
}
.accordion .accordion-item.active .accordion-panel {
    @apply max-h-screen px-6 pb-5 opacity-100;
}

[data-aos="fade-up-sm"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="fade-up-sm"].aos-animate {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    [data-aos="fade-up-sm"] {
        transform: translate3d(0, 20px, 0) !important;
    }
    [data-aos="fade-up-sm"].aos-animate {
        transform: translate3d(0, 0, 0) !important;
    }
}

[data-aos="fade-down-sm"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="fade-down-sm"].aos-animate {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    [data-aos="fade-down-sm"] {
        transform: translate3d(0, -20px, 0) !important;
    }
    [data-aos="fade-down-sm"].aos-animate {
        transform: translate3d(0, 0, 0) !important;
    }
}

[data-aos="fade-left-sm"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="fade-left-sm"].aos-animate {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    [data-aos="fade-left-sm"] {
        transform: translate3d(20px, 0, 0) !important;
    }
    [data-aos="fade-left-sm"].aos-animate {
        transform: translate3d(0, 0, 0) !important;
    }
}

[data-aos="fade-right-sm"] {
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="fade-right-sm"].aos-animate {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    [data-aos="fade-right-sm"] {
        transform: translate3d(-20px, 0, 0) !important;
    }
    [data-aos="fade-right-sm"].aos-animate {
        transform: translate3d(0, 0, 0) !important;
    }
}
